<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA1QRcp0vd448enivkikJeALxgngETIroY</string>
	<key>GCM_SENDER_ID</key>
	<string>1078540532495</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shub.chatapp.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-47f45</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-47f45.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078540532495:ios:9d82887502f0f3ebfd1c7a</string>
</dict>
</plist>